proteomics.txt
aals_participants.csv
# SimStudy/RunSim/Results/*
SimStudy/RunSim/Results/issvd_param_signal5/issvd_param/data/*
SimStudy/RunSim/Results/issvd_param_signal5/issvd_param/logs/*
SimStudy/RunSim/Results/issvd_param_signal5/issvd_param6/data/*
SimStudy/RunSim/Results/issvd_param_signal5/issvd_param6/logs/*
SimStudy/RunSim/Results/issvd_param_signal5/issvd_param5/data/*
SimStudy/RunSim/Results/issvd_param_signal5/issvd_param5/logs/*
SimStudy/RunSim/Results/issvd_param_signal5/issvd_param4/data/*
SimStudy/RunSim/Results/issvd_param_signal5/issvd_param4/logs/*
SimStudy/RunSim/Results/issvd_param_signal5/issvd_param3/data/*
SimStudy/RunSim/Results/issvd_param_signal5/issvd_param3/logs/*
# SimStudy/RunSim/Results/*	
SimStudy/RunSim/Results/issvd_param_mean100/issvd_param/data/*
SimStudy/RunSim/Results/issvd_param_mean100/issvd_param/logs/*
SimStudy/RunSim/Results/issvd_param_mean100/issvd_param4/data/*
SimStudy/RunSim/Results/issvd_param_mean100/issvd_param4/logs/*
SimStudy/RunSim/Results/issvd_param_mean100/issvd_param3/data/*
SimStudy/RunSim/Results/issvd_param_mean100/issvd_param3/logs/*
#number of biclusters
SimStudy/RunSim/Results/bicl/bicl_3v/data/*
SimStudy/RunSim/Results/bicl/bicl_3v/logs/*
SimStudy/RunSim/Results/bicl/bicl_2v/data/*
SimStudy/RunSim/Results/bicl/bicl_2v/logs/*
SimStudy/RunSim/Results/bicl/bicl_4v/data/*
SimStudy/RunSim/Results/bicl/bicl_4v/logs/*
#individual studies
SimStudy/RunSim/Results/indiv/indiv_3v5b/data/*
SimStudy/RunSim/Results/indiv/indiv_3v5b/logs/*
SimStudy/RunSim/Results/indiv/indiv_3v4b/data/*
SimStudy/RunSim/Results/indiv/indiv_3v4b/logs/*
SimStudy/RunSim/Results/indiv/indiv_4v5b/data/*
SimStudy/RunSim/Results/indiv/indiv_4v5b/logs/*
#views
SimStudy/RunSim/Results/views/views_5b/data/*
SimStudy/RunSim/Results/views/views_5b/logs/*
SimStudy/RunSim/Results/views/views_3v4b/data/*
SimStudy/RunSim/Results/views/views_3v4b/logs/*
SimStudy/RunSim/Results/views/views_4b/data/*
SimStudy/RunSim/Results/views/views_4b/logs/*
# noise
SimStudy/RunSim/Results/noise/noise_3v5b/data/*
SimStudy/RunSim/Results/noise/noise_3v5b/logs/*

# signal investigation
SimStudy/RunSim/Results/signal/signal3/data/*
SimStudy/RunSim/Results/signal/signal3/logs/*
SimStudy/RunSim/Results/signal/signal4/data/*
SimStudy/RunSim/Results/signal/signal4/logs/*
SimStudy/RunSim/Results/signal/signal5/data/*
SimStudy/RunSim/Results/signal/signal5/logs/*
SimStudy/RunSim/Results/signal/signal6/data/*
SimStudy/RunSim/Results/signal/signal6/logs/*

# issvd data generation 
SimStudy/RunSim/Results/issvd_data_gen/case2/data/*
SimStudy/RunSim/Results/issvd_data_gen/case2/logs/*
SimStudy/RunSim/Results/issvd_data_gen/case1/data/*
SimStudy/RunSim/Results/issvd_data_gen/case1/logs/*

# overlap
SimStudy/RunSim/Results/overlap/exhaustive_3v5b/data/*
SimStudy/RunSim/Results/overlap/exhaustive_3v5b/logs/*
SimStudy/RunSim/Results/overlap/non_exhaust_3v5b/data/*
SimStudy/RunSim/Results/overlap/non_exhaust_3v5b/logs/*
